
/*
 * 
 * (c) Copyright RIFT.io, 2013-2016, All Rights Reserved
 *
 */
@import '../../style/_colors.scss';

button{
    color: #000000;
    display: inline-block;
    font-size: 0.75rem;
    padding: 0.75rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin:0 1rem;
  &.light {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-top: 0;
    &.small {
      padding:0.25rem 1rem;
    }
  }

  &.dark {
    background-color: #333333;
    border: 1px solid #000000;
    border-top: 0;
    color: #ffffff;
    &:hover,&:active {
      background: #00acee;
      color: #ffffff;
    }
  }


}
