[submodule "modules/toolchain"]
	path = modules/toolchain
	url = ../modules/toolchain.git
[submodule "modules/ext/lib"]
	path = modules/ext/lib
	url = ../modules/ext/lib.git
[submodule "modules/core/util"]
	path = modules/core/util
	url = ../modules/core/util.git
[submodule "modules/ext/gnome"]
	path = modules/ext/gnome
	url = ../modules/ext/gnome.git
[submodule "modules/ext/ipc"]
	path = modules/ext/ipc
	url = ../modules/ext/ipc.git
[submodule "modules/ext/util"]
	path = modules/ext/util
	url = ../modules/ext/util.git
[submodule "modules/ext/yang"]
	path = modules/ext/yang
	url = ../modules/ext/yang.git
[submodule "modules/ext/cloud"]
	path = modules/ext/cloud
	url = ../modules/ext/cloud.git
[submodule "modules/core/mgmt"]
	path = modules/core/mgmt
	url = ../modules/core/mgmt.git
[submodule "modules/core/rwvx"]
	path = modules/core/rwvx
	url = ../modules/core/rwvx.git
[submodule "modules/ext/mgmt"]
	path = modules/ext/mgmt
	url = ../modules/ext/mgmt.git
[submodule "modules/automation/core"]
	path = modules/automation/core
	url = ../modules/automation/core.git
[submodule "modules/ext/go"]
	path = modules/ext/go
	url = ../modules/ext/go.git
[submodule "modules/ui/rw.ui"]
	path = modules/ui/rw.ui
	url = ../modules/ui/rw.ui.git
[submodule "modules/ui/composer"]
	path = modules/ui/composer
	url = ../modules/ui/composer.git
[submodule "modules/core/mano"]
	path = modules/core/mano
	url = ../modules/core/mano.git
[submodule "modules/ext/vnfs"]
	path = modules/ext/vnfs
	url = ../modules/ext/vnfs.git
[submodule "modules/ext/charms"]
	path = modules/ext/charms
	url = ../modules/ext/charms.git
