
/*
 * 
 * (c) Copyright RIFT.io, 2013-2016, All Rights Reserved
 *
 */
.transmit-receive-container {
      flex: 1 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      font-weight:bold;
      text-align:center;
      margin: 10px 0px;
      padding: 0px 10px 0px 10px;
      background-color:rgb(230,230,230);

      .transmit-container, .receive-container {
        padding:10px;
        background-color:rgb(219,219,219);
      }
      .transmit-container {
        margin-right:3px;
      }
      .units {
        font-size:.5rem;
        margin-bottom:5px;

      }
      .measure {
        font-size:1.2rem;
      }
      .label {
        font-size:.8rem;
        margin-bottom:10px;
      }
 }
