
/*
 * 
 * (c) Copyright RIFT.io, 2013-2016, All Rights Reserved
 *
 */

$darker-gray: rgb(91,91,91);
$dark-gray: rgb(211, 211, 211);
$lightest-gray: rgb(221,221,221);
$light-green: rgb(147, 203, 67);
$light-blue: rgb(0, 168, 235);
$lighter-blue: rgb(159, 196, 244);


$primary-header: $light-green;
$secondary-header: $dark-gray;
$body-color:$lightest-gray;


//PC

$black: #000;
$gray-lightest: #f1f1f1;
$gray-lighter: #e5e5e5;
$gray-light: #dadada;
$gray: #ccc;
$gray-dark: #999;
$gray-darker: #666;
$gray-darkest: #333;
$white: #FFF;
//
// Brand Colors
//
$brand-blue-light: #30baef;
$brand-blue: #00acee;
$brand-blue-dark: #147ca3;
$brand-green-light: #93cb43;
$brand-green: #7cc118;
