
/*
 * 
 * (c) Copyright RIFT.io, 2013-2016, All Rights Reserved
 *
 */

@import '../../node_modules/open-iconic/font/css/open-iconic.css';

$green: #31D2B1;
$black: #2D3036;
$white: #F8F9FC;
$headers: #EFF5FE;
$grey: #ABB6C6;



/* General */


.crouton {
    color: #FFF;
    line-height: 140%;
    border-radius: 3px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    max-width: 700px;
    width: 90%;
    text-align: center;
    z-index: 99999;
    margin: 0 auto;
    div {
        padding: 20px;
        &.info {
            background-color: #1F8DD6;
        }
        &.success {
            background-color: #50CD84;
        }
        &.warning {
            background-color: #FF8859;
        }
        &.error {
            background-color: #FF5F5F;
        }
        span {
            display: block;
            margin-bottom: 0;
            margin-left: 0px;
        }
        .buttons {
            text-align: right;
            button {
                &.btn, &.retry, &.close, &.cancel, &.ignore {
                    padding: 0px;
                    border: 1px solid transparent;
                    border-radius: 3px;
                }
                &:hover {
                    opacity: .75;
                }
                &.retry {
                    border-color: #FFF;
                }
                &.btn {
                    &.close {
                        border-color: #FF5F5F;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
