
/*
 * 
 * (c) Copyright RIFT.io, 2013-2016, All Rights Reserved
 *
 */
@import "../../../framework/style/_colors.scss";
    .metricBarGroup {
      display:flex;
      flex-direction:column;
      padding: 1rem;
      justify-content: center;
      h3 {
        text-align:center;
        font-weight:bold;
      }
      .bar {
        fill: $brand-blue-light;
        stroke: black;
      }
      .y.axis {
        .domain {
          transform:scaleX(0.25);
        }
      }
      .x.axis {
        .domain {
          transform:scaleY(0.25);
        }
     }
     .metriclabel, .y.axis .tick text{
      font-size:3rem;
     }
     &>div {
      flex: 1 1 %33;
     }
   }
