
/*
 * 
 * (c) Copyright RIFT.io, 2013-2016, All Rights Reserved
 *
 */
@import '../../style/_colors.scss';
//Needs to be refactored
.dashboardCard {
  &_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
  }

  background-color: $body-color;
  position: relative;
  // height: 750px;
  width: 693px;
  margin: 0.5rem 1rem;
  align-content: flex-start;
  flex-direction: column;
  &_header {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    background-color: $secondary-header;
    text-transform: uppercase;

    h3 {
      padding: 1.5rem;
    }
  }
  &_content {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow:hidden;
    &-body{
      display:flex;
      flex-direction:column;
      flex:1;
    }
  }
}
